<div class="mytitle has-text-white has-background-primary">
    <p class="subtitle has-text-white">Add New Title</p>
</div>
<form class="form" [formGroup]="CreatePackageForm">

  <div class="field">
    {{CreatePackageForm.value.title}}
    <label class="label">Package Title</label>
    <div class="control">
      <input class="input" type="text" placeholder="Text input"
      formControlName="title">
    </div>
  </div>

  
  <div class="field">
    {{CreatePackageForm.value.shortDesc}}
    <label class="label">Short Desc</label>
    <div class="control">
      <input class="input" type="text" placeholder="Text input"
      formControlName="shortDesc">
    </div>
  </div>

  <div class="field">
    <label class="label">Description</label>
    <div class="control">
      <textarea class="textarea" placeholder="Textarea"  formControlName="desc"></textarea>
    </div>
  </div>

  <div class="file is-boxed">
    <label class="file-label">
      <input class="file-input" type="file" name="resume">
      <span class="file-cta">
        <span class="file-icon">
          <i class="fas fa-upload"></i>
        </span>
        <span class="file-label">
          Choose a file…
        </span>
      </span>
    </label>
  </div>
  


  
  <div class="field">
    <label class="label">Type</label>
    <div class="control">
      <div class="select">
        <select>
          <option>Select dropdown</option>
          <option>Single Day</option>
          <option>Multi Day</option>
        </select>
      </div>
    </div>
  </div>
  
 
  
  <div class="field">
      <p>Featured?</p>
    <div class="control">
      <label class="radio">
        <input type="radio" name="question">
        Yes
      </label>
      <label class="radio">
        <input type="radio" name="question">
        No
      </label>
    </div>
  </div>

  <div class="field has-addons has-addons-centered">
    <p class="control">
      <span class="select">
        <select>
          <option>$</option>
          <!-- <option>£</option>
          <option>€</option> -->
        </select>
      </span>
    </p>
    <p class="control">
      <input class="input" type="text" placeholder="Amount of money">
    </p>
    <p class="control">
      <a class="button is-primary">
        Transfer
      </a>
    </p>
  </div>
  
  <div class="field is-grouped">
    <div class="control">
      <button class="button is-link" (click)="submit()">Submit</button>
    </div>
    <div class="control">
      <button class="button is-link is-light">Cancel</button>
    </div>
  </div>


</form>
